
body{
    font-family: 'Lucida Calligraphy', sans-serif;
}

#info .contenedor{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-car{
    margin: 50px;
}
.info-car img{
    width: 200px;
    height: 200px;
    border-radius: 25%;
    border: 7px solid #333;
}